<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>docker-registry-ui</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/bootstrap.min.css')}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/dataTables.bootstrap.min.css')}}>
    <link rel="shortcut icon" href={{url_for('static', filename='favicon.ico')}}>
    <link rel="apple-touch-icon" sizes="128x128" href={{url_for('static', filename='favicon-128x128.ico')}} />
    <style>
        .wrap{
            padding: 0 100px;
        }
    </style>
</head>
<body>
    <div class="container-fluid wrap">
        {% if data %}
        <h1 class="page-header"> Repositories </h1>
        {% elif info %}
        <h1 class="page-header"> Tag </h1>
        {% endif %}

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            {% if info %}
             <li class="active">{{repository}}</li>
            {% endif %}
        </ol>

        <table class="table table-striped table-bordered">
            {% if data %}
                <thead>
                    <tr>
                        <th>Repository</th>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td><a href="/tags?repository={{ i | replace_backslash }}">{{ i }}</a></td>
                        <td>{{ data[i]|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            {% elif info %}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tag</th>
                        <th>Pull</th>
                        <th>Digest</th>
                        <th>Created</th>
                        <th>Fslayers</th>
                        <th>Size</th>
                        <th>Del</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in info %}
                        {% if i %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.tag }}</td>
                            <td>docker pull {{ uri }}/{{ repository }}:{{ i.tag }}</td>
                            <td>{{ i.digest }}</td>
                            <td>{{ i.created }}</td>
                            <td>{{ i.fslayers }}</td>
                            <td>{{ i.size }}MB</td>
                            <td><a href="/delete?repository={{ repository }}&reference={{ i.digest }}">Del</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</body>
<script src={{url_for('static', filename='js/jquery-1.12.0.min.js')}}></script>
<script src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
<script src={{url_for('static', filename='js/jquery.dataTables.min.js')}}></script>
<script src={{url_for('static', filename='js/dataTables.bootstrap.min.js')}}></script>
<script type="text/javascript">
    ;$(function(){
        $("table").DataTable();
    });
</script>
</html>